*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box; 
    
}

body{
    background: url(images/bgound.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
        
}

body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,0.15);
    backdrop-filter: blur(15px);

}

.card{
    position: relative;
    width: 90%;
    max-width: 450px;
    background: rgb(66,66,66);
    background: linear-gradient(156deg, rgba(66,66,66,1) 0%, rgba(72,207,203,1) 100%);
    padding: 20px 10px;
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

.searc{
    width: 100%;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: space-between;
}

.searc input{
    border: none;
    height: 50px;
    width: 75%;
    border-radius: 50px;
    padding: 10px 25px;
    color: #222;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    outline: 0;
    background-color: #ebfffe;
    margin: 0px auto;
    transition: 200ms;
}

.searc input:focus{
    transform: scale(1.05);
}

.searc button{
    border: none;
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #eefffe;
    transition: 200ms;
}

.searc button img{
    width: 20px;
}

.searc button:hover{
    transform: scale(1.1);
    background-color: #d8fffe
}

.wether-icon{
     margin-top: 30px;
     width: 40%;
}

.temp{
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 20px;
}

.city{
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px;
}


.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity{
    font-size: 27px;
    letter-spacing: 2px;
}

.wind{
    font-size: 25px;
    letter-spacing: 2px;
}


/* .wether{
    display: none;
}

.error{
    text-align: left;
    margin-left: 26px;
    font-size: 19px;
    letter-spacing: 2px;
    display: none;
} */

